<h2 class="flex justify-center text-3xl text-white font-bold pt-5">
	the todo list
</h2>

<div class="pt-5 flex justify-center">
	<form hx-post="/todo/create" hx-target="#todo_list" hx-swap="beforeend" _="on submit target.reset()">
		<input placeholder="become a chad"
			class="p-5 rounded-xl w-96 bg-gray-700 text-white ring-sky-500 focus:ring-1 focus:outline-none focus:ring text-lg font-bold"
			name="todo_text" required minlength="3" maxlength="75" />
		<button
			class="bg-sky-500 hover:bg-sky-600 p-5 rounded-xl text-white font-bold focus:outline-none ring-blue-900 focus:ring-4"
			type="submit">
			add todo
		</button>
	</form>
</div>

<div class="pt-5 text-white flex justify-center pl-40">
	<ul id="todo_list">
		{{ range . }}
		{{ block "todo_element" . }}
		<li class="grid grid-cols-2 gap-40 pt-5" data-id="{{ .ID }}">
			<span class="flex flex-row gap-5">
				<input type="checkbox"
					class="pr-2 w-6 h-6 rounded-md shadow border border-gray-500 ring-sky-500 outline-none focus:outline-none focus:ring-1 checked:bg-blue-500 hover:cursor-pointer"
					{{if .IsComplete}}checked{{end}} hx-patch="/todo/toggle/{{.ID}}" hx-target="li[data-id='{{ .ID }}']"
					hx-swap="outerHTML" />
				<p class="font-extrabold text-white text-xl {{if .IsComplete}}line-through{{end}}">
					{{ .Text}}
				</p>
			</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
				class="w-6 h-6 text-red-300 hover:text-red-400 hover:cursor-pointer" hx-delete="/todo/delete/{{.ID}}"
				hx-trigger="click" hx-target="li[data-id='{{.ID}}']" hx-swap="delete" hx-confirm="u sure dawg?">
				<path stroke-linecap="round" stroke-linejoin="round"
					d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
			</svg>
		</li>
		{{ end }}
		{{ end }}
	</ul>
</div>
